fhtml body{
	height: 100%;
	min-height: 100%;
	position: inherit;
}
body { 
	height: 100%;
	min-height: 100%;
	position: relative;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	background: #000 url(../img/send-bg.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	font-size: 16px;
}
.content{
	padding-top: 120px;
}
.img-responsive{
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
}
.img-responsive .logo {
  width: 100%;
  margin-top: 25px
}

.margin-vertical{
	margin: 120px 0 20px 0

}
.light-text{
	color: #00ff99;
	line-height: 150%;
	font-size: 40px

}


@media screen and (max-width: 420px) {
	.img-responsive{
		max-width: 300px
	}
	.img-responsive .logo{
		margin-left: 35px;
		width: 75%
	}
	.light-text{

	font-size: 20px

}

	.content{
	padding-top: 60px;
	}
	.margin-vertical{
		margin: 40px 0 20px 0

	}
}

@media screen and (max-width: 320px) {
	.img-responsive{
		max-width: 280px
	}
	.img-responsive .logo{
		margin-left: 35px;
		width: 60%
	}

	.light-text{

	font-size: 20px

}
	.content{
	padding-top: 40px;
	}
	.margin-vertical{
		margin: 20px 0 20px 0

	}
}


